<!-- login form -->
<form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">
      {{ language.helloAgain }} <span class="text-primary">!</span>
    </h2>
    <p class="text-sm text-muted-foreground">{{ language.enterCredentialMessage }}</p>
  </div>

  <div routerLink="/dashboard">
    <app-button full impact="bold" tone="light" shape="rounded" size="medium">
      <svg-icon src="assets/icons/google-logo.svg" [svgClass]="'h-6 w-6 mr-2'"> </svg-icon>
      {{ language.logInWithGoogle }}
    </app-button>
  </div>
  <div
    class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-muted after:mt-0.5 after:flex-1 after:border-t after:border-muted">
    <p class="mx-4 mb-0 text-center text-sm text-muted-foreground">  {{ language.or }}</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="form__group">
      <div class="relative">
        <input
          type="text"
          id="email"
          [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
          class="peer block"
          placeholder=" "
          formControlName="email" />
        <label
          for="email"
          class="label-input">
          {{ language.emailAddress }}
        </label>
      </div>
      <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
        <div *ngIf="f['email'].errors['required']">{{ language.requiredField }}</div>
        <div *ngIf="f['email'].errors['email']">{{ language.errorEmail }}</div>
      </div>
    </div>,
    <div class="form__group">
      <div class="relative">
        <input
          [type]="passwordTextType ? 'text' : 'password'"
          id="password"
          [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
          class="peer block"
          placeholder=" "
          formControlName="password" />
        <label
          for="password"
          class="label-input">
          {{ language.password }}
        </label>
        <span class="absolute right-5 top-2.5 cursor-pointer text-muted-foreground" (click)="togglePasswordTextType()">
          <svg-icon
            [src]="
              !passwordTextType
                ? 'assets/icons/heroicons/outline/eye-off.svg'
                : 'assets/icons/heroicons/outline/eye.svg'
            "
            [svgClass]="'h-5 w-5'">
          </svg-icon>
        </span>
      </div>
      <div *ngIf="submitted && f['password'].errors" class="is__invalid-error">
        <div *ngIf="f['password'].errors['required']">{{language.requiredField }}</div>
      </div>
    </div>
  </div>

  <div class="mb-2 flex items-center justify-between space-x-3">
    <div class="flex items-center">
      <input id="remember-me" name="remember-me" type="checkbox" />
      <label for="remember-me" class="ml-2 block text-sm text-muted-foreground"> {{ language.rememberMe }} </label>
    </div>

    <app-button routerLink="/admin/forgot-password" impact="none" tone="primary" shape="rounded" size="small">
      {{ language.forgotYourPassword }}
    </app-button>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button full impact="bold" tone="primary" shape="rounded" size="medium" routerLink="/dashboard/overview" >{{ language.signIn }}</app-button>
  </div>

  <!-- Sign-up -->
  <div class="flex items-center text-sm text-muted-foreground">
    {{ language.notMemberYet }}
    <app-button routerLink="/admin/sign-up" impact="none" tone="primary" shape="rounded" size="small">
      {{ language.signUp }}
    </app-button>
  </div>
</form>
