<!-- login form -->
<form class="my-10 space-y-6" [formGroup]="form">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">
      {{ language.helloAgain }} <span class="text-primary">!</span>
    </h2>
    <p class="text-sm text-muted-foreground">{{ language.enterCredentialMessage }}</p>
  </div>

  <div routerLink="/dashboard">
    <app-button full impact="bold" tone="light" shape="rounded" size="medium">
      <i class="pi pi-google mr-2 h-4 w-6 text-primary"> </i>
      {{ language.logInWithGoogle }}
    </app-button>
  </div>
  <div
    class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-muted after:mt-0.5 after:flex-1 after:border-t after:border-muted">
    <p class="mx-4 mb-0 text-center text-sm text-muted-foreground">{{ language.or }}</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="form__group">
      <div class="relative">
        <p-floatLabel>
          <input
            id="email"
            type="text"
            pInputText
            [ngClass]="{ 'is__invalid-input': submitted && form.controls['email'].errors }"
            class="peer block"
            formControlName="email"
            placeholder=" " />
          <label for="email" class="label-input">{{ language.emailAddress }}</label>
        </p-floatLabel>
      </div>
      <div *ngIf="submitted && form.controls['email'].errors" class="is__invalid-error">
        <div *ngIf="form.controls['email'].errors['required']">{{ language.requiredField }}</div>
        <div *ngIf="form.controls['email'].errors['email']">{{ language.errorEmail }}</div>
      </div>
    </div>
    ,
    <div class="form__group">
      <div class="relative">
        <p-floatLabel>
          <input
            id="password"
            [type]="passwordTextType ? 'text' : 'password'"
            pInputText
            [ngClass]="{ 'is__invalid-input': form.controls['email'].errors }"
            class="peer block"
            formControlName="password"
            placeholder=" " />
          <label for="password" class="label-input">{{ language.password }}</label>
          <span
            class="absolute right-5 top-2.5 cursor-pointer text-muted-foreground"
            (click)="togglePasswordTextType()">
            <i class="h-5 w-5" [class]="!passwordTextType ? 'pi pi-eye-slash ' : 'pi pi-eye'"> </i>
          </span>
        </p-floatLabel>
      </div>
      <div *ngIf="submitted && form.controls['password'].errors" class="is__invalid-error">
        <div *ngIf="form.controls['password'].errors['required']">{{ language.requiredField }}</div>
      </div>
    </div>
  </div>

  <div class="mb-2 flex items-center justify-between space-x-3">
    <app-checkbox [checkboxLabel]="language.rememberMe"></app-checkbox>

    <app-button routerLink="/admin/forgot-password" impact="none" tone="primary" shape="rounded" size="small">
      {{ language.forgotYourPassword }}
    </app-button>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button
      full
      impact="bold"
      tone="primary"
      shape="rounded"
      size="medium"
      (buttonClick)="onSubmit()"
      >{{ language.signIn }}</app-button
    >
  </div>

  <!-- Sign-up -->
  <div class="flex items-center text-sm text-muted-foreground">
    {{ language.notMemberYet }}
    <app-button routerLink="/admin/sign-up" impact="none" tone="primary" shape="rounded" size="small">
      {{ language.signUp }}
    </app-button>
  </div>
</form>
