<!-- login form -->
<form class="my-10 space-y-6" [formGroup]="form">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">
      {{ language.helloAgain }} <span class="text-primary">!</span>
    </h2>
    <p class="text-sm text-muted-foreground">{{ language.enterCredentialMessage }}</p>
  </div>

  <div class="flex justify-center gap-4">
    <i *ngIf="loginOptions.google" class="pi pi-google login-icon" [title]="language.google" (click)="onGoogleLogin()">
    </i>
    <i
      *ngIf="loginOptions.facebook"
      class="pi pi-facebook login-icon"
      title="language.facebook"
      (click)="onFacebookLogin()">
    </i>
    <i
      *ngIf="loginOptions.twitter"
      class="pi pi-twitter login-icon"
      title="language.twitter"
      (click)="onTwitterLogin()">
    </i>
  </div>

  <div *ngIf="loginOptions.google || loginOptions.facebook || loginOptions.twitter" class="divider">
    <p class="mx-4 mb-0 text-center text-sm text-muted-foreground">{{ language.or }}</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="form__group">
      <div class="relative">
        <p-floatLabel>
          <input
            id="email"
            type="text"
            pInputText
            [ngClass]="{ 'is__invalid-input': submitted && form.controls['email'].errors }"
            class="peer block"
            formControlName="email"
            placeholder=" " />
          <label for="email" class="label-input">{{ language.emailAddress }}</label>
        </p-floatLabel>
      </div>
      <div *ngIf="submitted && form.controls['email'].errors" class="is__invalid-error">
        <div *ngIf="form.controls['email'].errors['required']">{{ language.requiredField }}</div>
        <div *ngIf="form.controls['email'].errors['email']">{{ language.errorEmail }}</div>
      </div>
    </div>
    ,
    <div class="form__group">
      <div class="relative">
        <p-floatLabel>
          <input
            id="password"
            [type]="passwordTextType ? 'text' : 'password'"
            pInputText
            [ngClass]="{ 'is__invalid-input': form.controls['password'].errors }"
            class="peer block"
            formControlName="password"
            placeholder=" " />
          <label for="password" class="label-input">{{ language.password }}</label>
          <span
            class="absolute right-5 top-2.5 cursor-pointer text-muted-foreground"
            (click)="togglePasswordTextType()">
            <i class="h-5 w-5" [class]="!passwordTextType ? 'pi pi-eye-slash ' : 'pi pi-eye'"> </i>
          </span>
        </p-floatLabel>
      </div>
      <div *ngIf="submitted && form.controls['password'].errors" class="is__invalid-error">
        <div *ngIf="form.controls['password'].errors['required']">{{ language.requiredField }}</div>
        <div *ngIf="form.controls['password'].errors['minLength']">{{ language.passwordMinLength }}</div>
      </div>
    </div>
  </div>

  <div class="mb-2 flex items-center justify-between space-x-3">
    <app-checkbox [checkboxLabel]="language.rememberMe"></app-checkbox>

    <app-button routerLink="/admin/forgot-password" impact="none" tone="primary" shape="rounded" size="small">
      {{ language.forgotYourPassword }}
    </app-button>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button
      full
      impact="bold"
      tone="primary"
      shape="rounded"
      size="medium"
      [disabled]="!form.valid"
      (buttonClick)="onSubmit()"
      >{{ language.signIn }}</app-button
    >
  </div>

  <div *ngIf="loginOptions.mobileNo" class="divider">
    <p class="mx-4 mb-0 text-center text-sm text-muted-foreground">{{ language.or }}</p>
  </div>

  <div *ngIf="loginOptions.mobileNo" class="mt-2">
    <app-button routerLink="/admin/sign-in-mobile" impact="none" tone="primary" shape="rounded" size="small">
      {{ language.signInWithMobileNo }}
    </app-button>
  </div>

  <!-- Sign-up -->
  <div class="flex items-center text-sm text-muted-foreground">
    {{ language.notMemberYet }}
    <app-button routerLink="/admin/sign-up" impact="none" tone="primary" shape="rounded" size="small">
      {{ language.signUp }}
    </app-button>
  </div>
</form>
