<header>
  <nav class="border-gray-200 bg-white px-4 py-2.5 dark:bg-gray-800 lg:px-6">
    <div class="flex flex-wrap items-center justify-between">
      <a href="https://photographersplus.com" class="flex items-center">
        <!-- <img src="" class="mr-3 h-6 sm:h-9" [alt]="appJson.displayName" /> -->
        <span class="self-center whitespace-nowrap text-xl font-semibold text-primary dark:text-white">{{
          appJson.displayName
        }}</span>
      </a>
      <div class="flex items-center lg:order-2">
        <a href="#" class="photographer-inquiry-btn">Are you a photographer?</a>
      </div>
      <div class="hidden w-full items-center justify-between lg:order-1 lg:flex lg:w-auto" id="mobile-menu-2">
        <ul class="mt-4 flex flex-col font-medium lg:mt-0 lg:flex-row lg:space-x-8">
          <li>
            <a
              href="#"
              class="block rounded bg-primary py-2 pl-3 pr-4 text-white dark:text-white lg:bg-transparent lg:p-0 lg:text-primary"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a href="#" class="header-item">Company</a>
          </li>
          <li>
            <a href="#" class="header-item">Marketplace</a>
          </li>
          <li>
            <a href="#" class="header-item">Features</a>
          </li>
          <li>
            <a href="#" class="header-item">Team</a>
          </li>
          <li>
            <a href="#" class="header-item">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
