<div class="home-container">
  <app-header></app-header>

  <app-google-map></app-google-map>

  <div [formGroup]="form" class="my-6 flex flex-wrap items-center justify-between gap-4">
    <div>
      <input type="text" pInputText formControlName="search" placeholder="Search By Name" />
    </div>
    <div class="flex gap-4">
      <p-dropdown
        formControlName="type"
        [options]="photographyTypeOptions"
        optionLabel="label"
        placeholder="Select Type" />
      <p-dropdown formControlName="states" [options]="statesOptions" optionLabel="name" placeholder="Select State" />
    </div>
  </div>

  <app-photographer-card [photographers]="photographers"></app-photographer-card>

  <app-footer></app-footer>
</div>
