<div class="statistics-container container">
    <div class="stat-section">
      <div *ngFor="let stat of statistics" class="wrapper">
        <div class="flex items-center gap-3">
          <div class="icon-circle text-primary bg-inherit" [class]="stat.className" [pTooltip]="stat.tooltip" tooltipPosition="top">
            <div class="icon-wrapper"><i [class]="stat.icon" [ngClass]="classes"></i></div>
          </div>
          <div class="info-section">
            <h2 *ngIf="!loading" class="count text-foreground" [class]="stat.className" [ngClass]="classes">{{ stat.value || '' }}</h2>
            <div *ngIf="loading" class="count">
              <p-skeleton size="2rem" styleClass="mr-2"></p-skeleton>
            </div>
            <span class="title text-foreground" [ngClass]="classes">{{ stat.title || '' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  