<form class="my-10 space-y-6" [formGroup]="form">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">{{ language.setupNewPassword }}</h2>
    <p class="text-sm text-muted-foreground">
      {{ language.setupNewPasswordSubheader }}
      <a class="text-primary" routerLink="/admin/sign-in"> {{ language.signIn }}</a>
    </p>
  </div>

  <div class="space-y-4 text-left">
    <div class="relative">
      <p-floatLabel>
        <input
          id="password"
          type="password"
          pInputText
          [ngClass]="{ 'is__invalid-input': submitted && form.controls['password'].errors }"
          class="peer block"
          formControlName="password"
          placeholder=" " />
        <label for="confirmPassword" class="label-input">{{ language.password }}</label>
      </p-floatLabel>
      <div *ngIf="submitted && form.controls['password'].errors" class="is__invalid-error">
        <div *ngIf="form.controls['password'].errors['required']">{{ language.requiredField }}</div>
      </div>
    </div>

    <div class="relative">
      <p-floatLabel>
        <input
          id="confirmPassword"
          type="password"
          pInputText
          [ngClass]="{ 'is__invalid-input': submitted && form.controls['confirmPassword'].errors }"
          class="peer block"
          formControlName="confirmPassword"
          placeholder=" " />
        <label for="confirmPassword" class="label-input">{{ language.confirmPassword }}</label>
      </p-floatLabel>
      <div *ngIf="submitted && form.controls['confirmPassword'].errors" class="is__invalid-error">
        <div *ngIf="form.controls['confirmPassword'].errors['required']">{{ language.requiredField }}</div>
        <div>{{ language.errorConfirmPassword }}</div>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button full impact="bold" tone="primary" shape="rounded" size="medium" (buttonClick)="onSubmit()">
      {{ language.submit }}
    </app-button>
  </div>
</form>
