<form [formGroup]="form" class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">
      {{ language.forgotPassword }} <span class="text-primary">?</span>
    </h2>
    <p class="text-sm text-muted-foreground">{{ language.forgotPasswordSubheader }}</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <p-floatLabel>
        <input
          id="email"
          type="text"
          pInputText
          formControlName="email"
          [ngClass]="{ 'is__invalid-input': submitted && form.controls['email'].errors }"
          class="peer block"
          placeholder=" " />
        <label for="email" class="label-input">{{ language.emailAddress }}</label>
      </p-floatLabel>
      <div *ngIf="submitted && form.controls['email'].errors" class="is__invalid-error">
        <div *ngIf="form.controls['email'].errors['required']">{{ language.requiredField }}</div>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-between space-x-2">
    <div class="w-full">
      <app-button full impact="bold" tone="primary" shape="rounded" [disabled]="!form.valid" size="medium" (click)="onSubmit()">{{ language.submit }}</app-button>
    </div>
    <div class="w-full">
      <app-button
        routerLink="/admin/sign-in"
        full
        impact="bold"
        tone="light"
        shape="rounded"
        size="medium">
        {{ language.cancel }}
      </app-button>
    </div>
  </div>
</form>
