<form class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Forgot Password <span class="text-primary">?</span></h2>
    <p class="text-sm text-muted-foreground">Enter your email to reset your password.</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input type="text" id="email" class="peer block" placeholder=" " />
      <label for="email" class="label-input"> Email address </label>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-between space-x-2">
    <div class="w-full">
      <app-button full impact="bold" tone="primary" shape="rounded" size="medium">Submit</app-button>
    </div>
    <div class="w-full">
      <app-button routerLink="/admin/sign-in" full impact="bold" tone="light" shape="rounded" size="medium">
        Cancel
      </app-button>
    </div>
  </div>
</form>
