<div class="item-center flex flex-wrap justify-center gap-6">
  <div *ngFor="let card of photographers">
    <ng-container
      *ngIf="card && !card.multiCity"
      [ngTemplateOutlet]="cardTemplate"
      [ngTemplateOutletContext]="{ className: '', card: card }">
    </ng-container>

    <div *ngIf="card && card.multiCity" class="stacked-cards">
      <ng-container
        [ngTemplateOutlet]="cardTemplate"
        [ngTemplateOutletContext]="{ className: 'stack top-0 left-0', card: card }">
        <ng-container
          [ngTemplateOutlet]="cardSkeleton"
          [ngTemplateOutletContext]="{ className: 'stack top-1.5 left-1.5' }">
          <ng-container
            [ngTemplateOutlet]="cardSkeleton"
            [ngTemplateOutletContext]="{ className: 'stack top-3 left-3' }"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #cardTemplate let-className="className" let-card="card">
  <div class="card" [ngClass]="className">
    <div class="top-line"></div>
    <div class="card-header">
      <i *ngIf="card.hasVerified" class="pi pi-verified absolute ml-12 mt-1 text-[#8bc34a]" title="Verified"></i>
      <p-avatar
        *ngIf="!card.companyLogo || card.companyLogo === ''"
        [label]="card.companyName.substring(0, 1)"
        styleClass="mr-2"
        size="xlarge"
        shape="circle" />
      <p-avatar
        *ngIf="card.companyLogo && card.companyLogo !== ''"
        [image]="card.companyLogo"
        styleClass="mr-2"
        size="xlarge"
        shape="circle" />
      <div class="text-xl" [title]="card.companyName">
        {{ card.companyName }}
      </div>
    </div>
    <div class="card-body">
      <div class="flex justify-center gap-2">
        <app-button
          full
          *ngFor="let location of card.locations"
          impact="bold"
          tone="primary"
          shape="rounded"
          size="small"
          (buttonClick)="onViewProfile(card)"
          >{{ location.district }}</app-button
        >
      </div>
      <div class="h-[162px] px-3 py-4 text-center">
        <div>{{ card.locations[0].address }}</div>
        <div>{{ card.locations[0].district }}, {{ card.locations[0].state }}</div>
        <div>PIN: {{ card.locations[0].pin }}</div>
        <div class="mt-1.5">Mobile: {{ card.locations[0].mobileNo }}</div>
      </div>

      <div class="flex flex-wrap justify-center gap-2 px-3">
        <ng-container *ngFor="let item of card.specialization; let id = index">
          <div *ngIf="id <= 4" class="rounded-md border border-[#929699] px-2 py-1 text-xs text-primary">
            {{ item }}
          </div>
          <div
            *ngIf="id > 4"
            class="rounded-full font-bold border border-[#929699] px-1.5 py-1 text-center text-xs text-primary">
            +{{ card.specialization.length - 5 }}
          </div>
        </ng-container>
      </div>
    </div>

    <div class="card-footer">
      <app-button
        *ngIf="card.website"
        full
        impact="bold"
        tone="primary"
        shape="rounded"
        size="small"
        (buttonClick)="onViewProfile(card)"
        >View Profile</app-button
      >
      <app-button full impact="bold" tone="primary" shape="rounded" size="small" (buttonClick)="onSendEnquiry(card)"
        >Send Enquiry</app-button
      >
    </div>
  </div>
</ng-template>

<ng-template #cardSkeleton let-className="className">
  <div [ngClass]="className" class="card">
    <div class="top-line"></div>

    <div class="card-header"></div>

    <div class="card-body"></div>

    <div class="card-footer"></div>
  </div>
</ng-template>
